*{
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div{
    height: 40%;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/6-jezioro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    position: absolute;
    text-transform: uppercase;
    background-color: rgba( 0, 0, 0, 0.9);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 2em;
    opacity: 0;
}

div:hover>p{
    opacity: 1;
    font-size: 4em;
    transition: all 0.5s linear;
}
/* top border of image */
div::before{
    position: absolute;
    height: 0.01%;
    width: 1%;
    border: 2px solid #000;
    border-bottom-color: transparent; /* this one won't be needed as the pseudo-element 'grows' from top center part of the image to its center that's why we need only the top border to be visible at this point */
    border-right-color: transparent;
    border-left-color: transparent;
    top: -5px;
    left: 50%;
    content:"";
    opacity: 0;
}

div:hover::before{
    width: 101%;
    left: -5px;
    right: -5px;
    opacity: 1;
    height: 51%;
    border-left-color: #000; /* changing colors for the left and right border so that when the pseudo-element changes its hight they will be visible*/
    border-right-color: #000;
    /* height transition post-poned by 1.2s so that by the time it starts the pseudo-element has its full width*/
    transition: width 1s linear 0s, left 1s linear 0s, opacity 1s linear 0s, height 2s linear 1.2s; 
}

/* bottom border of image */
div::after{
    position: absolute;
    height: 0.01%;
    width: 1%;
    border: 2px solid #000;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    bottom: -5px;
    left: 50%;
    content:"";
    opacity: 0;
}
/*element 'grows' from bottom of the image to its center*/
div:hover::after{
    width: 101%;
    left: -5px;
    right: 5px;
    bottom: -5px;
    opacity: 1;
    height: 51%;
    border-left-color: #000;
    border-right-color: #000;
    transition: width 1s linear 0s, left 1s linear 0s, opacity 1s linear 0s, height 2s linear 1.2s; 
}